
<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
      </div>
    </div>

    <div class="container">
   
      <div class="row">
        <div class="col-md-4" *ngFor="let project of projects ">
          <h2>{{project.name}}</h2> <br>
          <img style="width: 50%;" src="{{project.img}}" alt=""> <br/> <br/>
          <p>{{project.price}}</p>
          <button (click)="detailProduct(project)">Show detail</button>
          <button (click)="deleteProduct(project)">Xoas</button>
        </div>
          <div class="col-md-4" *ngIf='selectedProduct'>
            <h2>{{selectedProduct.name}}</h2> <br>
            <img style="width: 50%;" src="{{selectedProduct.img}}" alt=""> <br/> <br/>
          </div> <br>
          <input type="text">
      </div>

      <hr>

    </div> <!-- /container -->

  </main>